
#full-site {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #cbc9c9;
}

#main {
    position: relative;
    aspect-ratio: 10/15;
    border: 1px solid black;
    background-color: white;
}

    h1 {
        text-align: center;
    }

    .navigation-panel {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        background-color: #F2F2F2;
    }

    .btn {
        flex-grow: 1; 
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; 

    }

    img[alt="album cover"] {
        width: 60px;
        height: 60px;
    }