
.nav-panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
}

.nav-button {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

img[alt="album cover"] {
    width: 60px;
    height: 60px;
    justify-content: left;
}

.recently-played {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.recently-played-item p {
    margin: 0 10px;
    align-self: center;
    color: rgb(121, 91, 40);

}

.recently-played-item {
    background-image: linear-gradient(to right, #efe6dc 0%, #FFFFFF  11%, #b69b7e  100%);
    padding: 15px 25px;
    text-align: center;
    transition: 0.5s;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px; 
    display: flex;
    flex-grow: 1;
    width: 100%;
}


#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

h2 {
    text-align: center;
}


